/*********Submits:**********/
/***Omer Boucris  314969817***/
/***Bar Bikovsky 315941633***/

.home{
  display: table;
  margin: 0 auto;
  
}

.btn{
  background-color: #65a166;
  border: 0;
  position: absolute;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 20px;
  padding-top: 15px;
  margin-left: 10px;
  margin-bottom: 20px;
  }

.btn {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0,  #65a166 0, #5d785e 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin-top: 30px;
  padding-top: 15px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.btn:focus {
  box-shadow: #2C5F2D 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, ##2C5F2D 0 -3px 0 inset;
}

.btn:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #2C5F2D 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: #2C5F2D 0 3px 7px inset;
  transform: translateY(2px);
}